@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-600:#f4fbfb;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#29283a;
    --text-black-700:#504e70;
    --text-black-500: #191b1b;
    --text-black-100: rgb(95,99,104);
    --hover-black: rgba(0, 0, 0, 0.3);
    --color-options-editor: rgb(169 169 169);
}
body.dark
{
    --bg-black-900:#151515;
    --bg-black-600: #394144;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
    --text-black-500: #b0b5b8;
    --text-black-100: rgb(154,160,166);
    --hover-black: rgba(255, 255, 255, 0.3);
    --color-options-editor: rgb(169 169 169);
}
body
{
    margin:0;
    padding:0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*
{
    margin:0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;
}
.logo
{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 30px;
    cursor: default;
    user-select: none;
    z-index: 30;
}
.logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}

.logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.closeSwitcher
{
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}
ul
{
    list-style: none;
}
.section
{
    background: var(--bg-black-900);
    opacity: 1;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
    min-height: 100vh;
    
    padding: 0 30px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
.section.back-section
{
    z-index: 1;
}
.section.active
{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}
@keyframes slideSection 
{
    0%
    {
        transform: translateX(100%);
    }    
    100%
    {
        transform: translateX(0%);
    }
}
.hidden
{
    display: none !important;
}
.main-content
{
    padding-left: 270px;
}
.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
    user-select: none;
    cursor: default;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
    user-select: none;
    cursor: pointer;
}
.btn:hover
{
    transform: scale(1.05);
}
.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

::-webkit-scrollbar 
{
    width: 7px;
}
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb 
{
    background: var(--text-black-700); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover 
{
    background: var(--text-black-900); 
}

li
{
    list-style: none;
}
/* RESPONSIVE PART */


@media(max-width:1199px)
{
    .aside
    {
        left: -270px;
    }
    .aside.open
    {
        left: 0;
    }
    .aside .nav-toggler
    {
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open
    {
        left: 10px;
    }
    .section
    {
        left: 0;
    }
    .section.open
    {
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span
    {
        display: block;
    }
}
@media(max-width:991px)
{
    .contact .contact-info-item,
    .service .service-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about .about-content .experience,
    .about .about-content .education,
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img
    {
        display: none;
    }
}
@media(max-width:767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width:390px)
{
    .container
    {
        top: 90px;
        position: relative;
    }
}

@media(max-width:1460px)
{
    .logo
    {
        z-index: 0;
    }
}

.loading-container 
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900)
}

@-webkit-keyframes spin /* Safari */
{
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.containerSwitcher
{
    z-index: 100000;
    position: fixed;
}

span
{
    user-select: none;
}